{% extends '::base.html.twig' %}

{% set title = 'FOSUserBundle example -' %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <h1>FOSUserBundle demonstration</h1>

            <p>
                Description of FOSUserBundle with links to stuff.
            </p>
        </div>

        <div class="span4">
            <h3>Sidebar of cool information</h3>

            <p>
                More information here.
            </p>
        </div>
    </div>
</div>
{% endblock body %}