{% extends '::base.html.twig' %}

{% block body %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>FOS Sandbox</h1>
        <p class="lead">The FOS Sandbox distribution intends to demonstrate different FOS bundles and their capabilities.</p>
    </div>

    <hr>

    <div class="row-fluid">
        <div class="span12">
            <h4>FOSCommentBundle</h4>
            <a class="btn btn-primary demo-button" href="{{ path('blog_post') }}">See it</a>
            <a class="btn btn-info demo-button" href="">Docs</a>
            <p class="demo-description">FOSCommentBundle provides inline or async loading of comments, a restful interface for comments and support for cross domain loading.</p>
        </div>
    </div>

    <hr />

    <div class="row-fluid">
        <div class="span12">
            <h4>FOSUserBundle</h4>
            <a class="btn btn-primary demo-button" href="{{ path('fos_user') }}">See it</a>
            <a class="btn btn-info demo-button" href="">Docs</a>
            <p class="demo-description">FOSUserBundle provides user authentication and registration services for your application.</p>
        </div>
    </div>
</div>
{% endblock body %}