body {
    padding-top: 80px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.demo-button {
    width: 40px;
    float: left;
}
.demo-description {
    margin-left: 75px;
}
.avatar {
    width: 50px;
    height: 50px;
    margin: 0 5px 5px;
    background: lightgrey;
    float: left;
}
.fos_comment_comment_new_form textarea {
    width: 96%;
    height: 80px;
}
.fos_comment_comment_body {
    margin-bottom: 1.4em;
}
[data-depth].fos_comment_comment_group .fos_comment_comments {
    margin-left: 2em;
}
.fos_comment_controls {
    float: right;
}