{% extends '::base.html.twig' %}

{% set title = 'FOSCommentBundle example -' %}

{% block head %}
{% javascripts
'@FOSCommentBundle/Resources/assets/js/comment.js'
'@FOSCommentBundle/Resources/assets/js/jquery_transport.js'
'@FOSCommentBundle/Resources/assets/js/initialise.js'
'@FOSAppBundle/Resources/assets/js/blog.js'
output='js/comments.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock head %}

{% block body %}
<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <h1>Example Blog Post</h1>

            <p>
                Sapiente narwhal cupidatat, single-origin coffee
                mixtape retro sint nesciunt pariatur commodo officia.
                Pinterest Austin keffiyeh messenger bag assumenda est
            </p>

            <blockquote>
                <p>
                    Helvetica. Irony elit et, beard carles locavore
                    sapiente chambray duis wayfarers direct trade ut vero.
                </p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>

            <p>
                Pour-over typewriter twee cred, voluptate Austin
                banksy stumptown delectus brooklyn. Fingerstache craft
                beer nisi reprehenderit occaecat. Gluten-free fap lomo
                organic. Iphone cred kale chips pariatur.
            </p>

            <hr />
            <h2>Comments</h2>

            {% include "FOSCommentBundle:Thread:inline.html.twig" with { id: '' | date('Ym') } %}
        </div>

        <div class="span4">
            <h3>FOSCommentBundle Demonstration</h3>

            <p>
                In this example, we add a threaded comment feature to a
                blog post.
            </p>

            <h4>Including on a page</h4>
            <p>
                To include a comment thread in any page, all you need to
                do is include the following twig snippet in your template:
            </p>

            <pre>{% raw -%}
            {% include "FOSCommentBundle:Thread:inline.html.twig" with { id: 'unqiue' } %}
            {%- endraw %}</pre>

            <h4>Whats going on</h4>
            <p>
                FOSCommentBundle provides a RESTful interface for managing
                comment threads which can be used by any frontend code you
                may want to write.
            </p>
            <p>
                The bundle comes with a javascript frontend that supports
                multiple ways of loading comments.
            </p>
            <ul>
                <li>Comments can be included in the page by using a subrequest</li>
                <li>Comments can be loaded by an ajax call (default once the page has loaded)</li>
                <li>Comments can be loaded by an async ajax call while the page loads</li>
                <li>Comments can be loaded from a cross domain script using EasyXDM</li>
            </ul>
        </div>
    </div>
</div>
{% endblock body %}