{% extends '::base.html.twig' %}

{% block body %}
{% for key, message in app.session.getFlashes() %}
<div class="alert {{ key }}">
    {{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}

{% block fos_user_content '' %}
{% endblock body %}
